doctype Html
html
head
  title LinkAbout
  link(rel="stylesheet" href="/stylesheets/main.css")
  body
    header
      ul(class="horizen-menu-left")
        if uppersettitle === undefined
        else
          li
            if userid === undefined
              a(href="/set/"+uppersetid) #{uppersettitle}
            else if uppersettitle == "LinkAbout"
              a(href="/set/"+uppersetid) #{uppersettitle}
            else
              a(href="/userset/"+uppersetid+"/"+userid) #{uppersettitle}
        li
          a(href="/link/document/"+curset._id) #{curset.title} Document Links
        li
          a(href="/link/community/"+curset._id) #{curset.title} Community Links
        li
          a(href="/set/newsetform/"+curset._id) New Set
          li
            a(href="/link/newlinkform/"+curset._id) New Link
        if isAuthed
          li
            a(href="/auth/logout") logout
          li
            a(href="/user/"+loginid) MyPage
        else
          li
            a(href="/auth/loginpage") SignIn
        li
          a(href="/user/find/user") Find Users

      if userid === undefined
        a(href="/set/"+curset._id)
          h1(class="title")= curset.title
      else
        a(href="/userset/"+curset._id+"/"+userid)
          h1(class="title")= curset.title
    block MainView
