extends header

block MainView

  ul(class="horizen-menu-left")
    if uppersettitle === undefined
    else
      li
        a(href="/set/"+uppersetid+"/"+uppersettitle) #{uppersettitle}
    li
      a(href="/link/document/"+cursetid+"/"+cursettitle) #{cursettitle} Document Links
    li
      a(href="/link/community/"+cursetid+"/"+cursettitle) #{cursettitle} Community link
    li
      a(href="/set/newsetform/"+cursetid+"/"+cursettitle) New Set
    li
      a(href="/link/newlinkform/"+cursetid+"/"+cursettitle) New Link
  div(class="content" style="border-bottom:5px solid; border-left:1px groove; border-right:1px groove; padding:10px;")
    h3= content.title
    a(href=content.link style="color:blue;")= content.link
    p(style="color: gray;") Orignal author : #{content.author}
    div(style=" border-top: 1px dashed;")
      p(style="margin-bottom: 0px;")= content.createdBy
      p(style="font-size: 0.7em; margin-top: 1px;") 게시일 : #{content.createAt}
      p(style="font-size: 0.8em")= content.text
